@{
    ViewData["Title"] = "Insert User";
}
@model UserModel;
<h1>@ViewData["Title"]</h1>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="display-4">Test Javascript Post User</h3>
            First Name: <input type="text" id="userFirstName" />
            Last Name: <input type="text" id="userLastName" />
            <button class="btn btn-primary" onclick="insertUser()">Insert User</button>
        </div>
    </div>
</div>